<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS_Team_Elite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>

		<!--Add your connection string here-->
		<add name="POS_Team_Elite.Properties.Settings.EliteDBConnectionString"
	        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\teamElite\POS_Team_Elite\TeamELiteDB.mdf;Integrated Security=True"
	        providerName="System.Data.SqlClient" />
		
		
		
        <add name="POS_Team_Elite.Properties.Settings.previousConnString"
            connectionString="0" />
        <add name="POS_Team_Elite.Properties.Settings.TeamELiteDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TeamELiteDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
    </connectionStrings>
    
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<generatePublisherEvidence enabled="false" />
	</runtime>
	
 <userSettings>
  <POS_Team_Elite.Properties.Settings>
   <setting name="ProductNotificationNumber" serializeAs="String">
    <value>0</value>
   </setting>
  </POS_Team_Elite.Properties.Settings>
 </userSettings>
</configuration>